#drum-machine {
  margin: auto;
  padding: 2rem;
  background-color: #8b4513;
  border-radius: 5%;

  button {
    width: 5vw;
    height: 5vw;
    margin: 1vw;
    justify-content: center;
    align-items: center;
  }

  #display {
    min-height: 2rem;
  }
}
