@import "../variables.scss";

.drum-pad {
  display: flex;
  width: 5vw;
  height: 5vw;
  margin: 1vw;
  justify-content: center;
  align-items: center;
  border: none;

  &:focus {
    box-shadow: none !important;
  }

  &:disabled {
    background-color: #3c3c3c;
  }

  &:active {
    color: black !important;
    background-color: #ffd000 !important;
  }
}
